@import "variables.css";

/* Reset  */
*,
*::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Wanted Sans Variable", system-ui, sans-serif;
  /* color: var(--color-gray-500); */
  line-height: 1.6;
  word-break: keep-all;
  font-size: var(--font-size-600);
  /* background-color: var(--color-primary-brown-100); */
}

#app {
  margin-inline: auto;
  max-width: $mobile-width;
  padding-inline: var(--space-300);
  text-align: center;
}

a {
  text-decoration: none;

  &:any-link {
    color: inherit;
  }
}

img {
  width: 100%;
  height: auto;
  aspect-ratio: attr(width) / attr(height);
}

h2 {
  /* font-size: var(--font-size-700); */
}

ul,
ol {
  list-style: none;
}

button {
  all: unset;
  cursor: pointer;
}

label {
  display: inline-block;
}

input,
textarea {
  min-width: 0;
  height: 1.5rem;
  vertical-align: middle;
  /* flex 컨테이너에서 width: 100%로 설정해서 사용 */
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
