@use 'variables' as v;

/* Reset  */
*,
*::before,
::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Wanted Sans Variable", system-ui, sans-serif;
  font-size: var(--font-size-600);

  /* color: var(--color-gray-500); */
  line-height: 1.6;
  word-break: keep-all;

  /* background-color: var(--color-primary-brown-100); */
}

#app {
  max-width: v.$mobile-width;
  padding-inline: var(--space-300);
  margin-inline: auto;
  text-align: center;
}

a {
  text-decoration: none;

  &:any-link {
    color: inherit;
  }
}

img {
  width: 100%;
  height: auto;
  aspect-ratio: auto 4 / 3;
}

h2 {
  /* font-size: var(--font-size-700); */
}

ul,
ol {
  list-style: none;
}

button {
  all: unset;
  cursor: pointer;
}

label {
  display: inline-block;
}

input,
textarea {
  min-width: 0;
  height: 1.5rem;
  vertical-align: middle;

  /* flex 컨테이너에서 width: 100%로 설정해서 사용 */
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin: 0;
  appearance: none;
}

/* Firefox */
input[type="number"] {
  appearance: textfield;
}
